.card {
	max-width: 100%;
	max-height: 100%;
	cursor: pointer;
	border-radius: 3px;
	//left: 50%;
	//top: 50%;
	overflow: hidden;
	//transform: translate(-50%, -50%);
	transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
	transition: transform 375ms, width 275ms 100ms, height 375ms;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/*.card:hover {
	transform: translate(-50%, -70%);
	width: 330px;
	height: 330px;
	transition: transform 375ms, width 375ms, height 275ms 100ms;

}*/

div.card-content {
	//margin: auto;
	//left: -9999px;
	//right: -9999px;
	transform-origin: top;
	max-width: 100%;
	//transform: scale(0.62);
	max-height: 100%;
	border-radius: 3px;
	background: #1b1f24;
	overflow: hidden;
	transition: transform 375ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

/*.card-content:hover {
	transform: scale(1);
}*/

.card-img {
	max-width: 100%;
	max-height: 100%;
	
	background-size: cover;
	background-position: center;

	img {
		max-width: 100%;
		max-height: 100%;
	}

}

.card-text {
	height: auto;
	padding: 15px;
}

.card-text .card-line {
	margin-top: 15px;
}

.card-title {
	width: 80%;
	h5 {
		margin-block-start: 1em;
		margin-block-end: 1em;
	}
}

/*.card-subtitle {
	width: 100%;
	p {
		width: 80%;
		padding-left: 5%;
	}
}*/